
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: rgb(228, 228, 228);
  min-height: 100vh;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
  :hover{
      text-decoration: none;
      color: black;
  }
}

// ------------------------------------------------------FOOTER START-------------------------------------------
.footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.footer hr.small
{
  margin:20px 0
}
.footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.footer a
{
  color:#737373;
}
.footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.contact p{
    text-align: left;
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .footer
  {
    padding-bottom:0
  }
  .footer .copyright-text,.footer 
  {
    text-align:center
  }
}
// ------------------------------------------------------FOOTER END-------------------------------------------

// ------------------------------------------------------JOBS START-------------------------------------------
.card div:nth-child(2){
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}
.card div:nth-child(3){
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}
.card{
  text-align: left;
  padding: 20px 40px;
  .card__heading h5{
    text-transform: capitalize;
  }
  .card__heading h5 span{
    text-transform: lowercase;
  }
  .card__confirm .btn{
    background-color: rgb(47, 209, 47);
    font-weight: bold;
    width: 150px;
    outline: none;
    border: none;
  }
  .card__confirm .btn:hover{
    background-color: green;
  }
  #type-location b{
    text-transform: uppercase;
  }
  .card__status h6{
    padding: 10px;
    font-weight: bold;
  }
  .card__status #created{
    background-color: rgb(233, 233, 86);
  }
  .card__status #applied{
    background-color: rgb(236, 236, 236);
  }
  .card__status #selected{
    background-color: rgb(36, 212, 36);
  }
  .card__status #rejected{
    background-color:rgb(212, 40, 40);
    color: white;
  }
  .card__status #filled{
    background-color:rgb(23, 130, 192);
    color: white;
  }
  .card__status #closed{
    background-color:rgb(148, 148, 148);
    color: rgb(255, 255, 255);
  }
  .card__status #deleted{
    background-color:rgb(145, 29, 29);
    color: rgb(255, 255, 255);
  }
}
  .card:hover{
    box-shadow: 0 0 5px rgb(57, 179, 57);
  }
// ------------------------------------------------------JOBS END-------------------------------------------